:root {
  /* Font-Family */
  
  --font-family: "Muli", sans-serif;

  /* Couleurs */

  --light: #00c3ff;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #fafafa;
  --background: #222;
  --hint: #999;
  --border: #ddd;
}
